<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Etiquetas de posicionamiento en los buscadores -->
  <title>PORTAL | DGPLADES | DIGITAL | Sistema de Administración de Salas | SALUD | GOB.mx</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="expires" content="43200"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Etiquetas especiales de posicionamiento en los buscadores -->
  <meta name="description" content="Sistema de administración de Salas del Portal de Sistemas de la DGPLADES (DEGPLADES DIGITAL), Dirección General de Planeación y Desarrollo en Salud | SECRETARÍA DE SALUD.">
  <meta name="keywords" content="SAS, Sistema, Administración, Salas, DGPLADES, Digital, Secretaría, Salud">
  <meta name="author" content="DGPLADES | Secretaría de Salud">
  <meta name="robots" content="index, follow"/>

  <!-- Open Graph data -->
  <meta property="og:title" content="SAS | DGPLADES | DIGITAL | Sistema de Administración de Salas" />
  <meta property="og:type" content="article calendar" />
  <meta property="og:url" content=" http://simis.salud.gob.mx/dgpladesDigital_SAS/" />
  <meta property="og:image" content=" http://simis.salud.gob.mx/img/carrusel/sas_1.png" />
  <meta property="og:description" content="Reservación de salas de juntas de la DGPLADES de la Secretaría de Salud" />
  <meta property="og:site_name" content="SAS, Sistema de Administarción de Salas de Juntas" />

  <!-- Fin de Etiquetas de posicionamiento en los buscadores -->

  <!-- CSS -->
  <link href="https://framework-gb.cdn.gob.mx/gm/v4/image/favicon.ico" rel="shortcut icon">
  <link href="https://framework-gb.cdn.gob.mx/gm/v4/css/main.css" rel="stylesheet">

  <!-- CSS local -->
  <link rel="stylesheet" href="styles/estilos.css" rel="stylesheet">

  <!-- NIEVE INICIO -->
  <style type="text/css">
    .snow-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 100001;
    }

  </style>
  <!-- NIEVE FINAL -->

</head>

<body class="">

<div class="snow-container"></div>
  <!-- Comienza sección alerta avisos-->
  <div id="seccionPopUp">
      <!-- aqui se crearan los avisos en ventana modal -->
  </div>
  <!-- Finaliza sección alerta avisos-->

  <header>
    <!-- Nav Barra superior-->
    <nav class="navbar navbar-expand-md navbar-dark bg-light sub-navbar navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#subNavBarDropdown"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand sub-navbar" href="https://www.gob.mx/salud">SALUD</a>

        <div class="collapse navbar-collapse" id="subNavBarDropdown">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link subnav-link"
                href="http://www.dgplades-2016.salud.gob.mx/Contenidos/Repositorio/Directorio.pdf"
                target="_blank">Contacto</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link subnav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sistemas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <div id="menuNavBar_1">
                  <!-- Aqui se agregarán más <li> para tener las ligas a los sistemas -->
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="http://www.dgplades-2016.salud.gob.mx/Contenidos/Repositorio/Index.html"
                  target="_blank">Plataforma<br>informativa</a>
              </div>
            </li>
            <li class="nav-item">

            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Final Nav Barra superior-->
  </header>



  <!-- Inicia el banner de DGPLADES Digital - Particulas -->
  <section class="section section-intro flag-banner"
    style="height:300px !important; background:transparent; url(fondo2.png) no-repeat center top; background-size: cover;">

    <div style="position: relative; width:100%; height:100%;">
      <div id="particles-js" style="position:absolute; width:100%; height:100%;"><canvas class="particles-js-canvas-el" width="1207" height="375" style="width: 100%; height: 100%;"></canvas></div>

      <div class="section-intro__content jumbotron" style="color: white; background-color: transparent; text-align: center; font-family:'Montserrat' sans-serif; top:1rem !important;">

        <h1 class="hea" style="letter-spacing: 3rem;">DGPLADES</h1>
        <h2 style="color:rgb(212, 193, 156) !important; letter-spacing: 1rem;">DIGITAL</h2>


      </div>

    </div>

  </section>
  <!-- Finaliza el banner de DGPLADES Digital - Particulas -->
<!-- JS -->
  <script src="script/jquery-3.6.0.min.js"></script>
  <script src="https://framework-gb.cdn.gob.mx/gm/v4/js/gobmx.js"></script>


  <!-- particulas -->
  <script src="particles.js"></script>
  <script src="app.js"></script>
  <script src="script/jsonDatos_1.js"></script>

  <!--<script src="script/nieve_2.js"></script>-->

</body>

</html>
